.mesasconf {
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  .container_navbarcaja {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 999;
    background-color: #2A2E98;
    top: 0;
    height: 15%;
  }
  
  .nav {
    background-color: #181818;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 10px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logomes {
    flex: 1;
    /* El logo ocupará el espacio sobrante */
    display: flex;
    justify-content: center;
    width: 80%;
    height: 80%;
  }
  
  .logo img {
    max-width: 100px;
    height: 90px;
    object-fit: contain;
  }
  
  .nav-buttons {
    flex: 1;
    /* Los botones ocuparán el espacio sobrante */
    display: flex;
    justify-content: flex-end;
    /* Los botones se alinearán a la derecha */
  }
  
  .nav-buttons button {
    margin-left: 10px;
    font-size: 16px;
    /* Tamaño de fuente para los botones */
    padding: 8px 12px;
    /* Espacio interno para los botones */
    border: none;
    border-radius: 5px;
    background-color: #2A2E98;
    color: white;
    cursor: pointer;
  }

.container_mesas1 {
    margin-top: 100px; /* Separación entre navbar y container_mesas1 */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white ;
    height: 97vh;
}

.container_mesas {
    height: 500px;
    width: 500px;
    background-color: gray;
    margin-top: 100px; /* Separación entre container_mesas y container_pedido */
    margin-right: 20px; /* Ajuste para separación lateral */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container_pedido {
    height: 500px;
    width: 500px;
    background-color: gray;
    margin-top: 100px; /* Separación entre container_mesas y container_pedido */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mesa_container {
    height: 200px;
    width: 200px;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
}

.mesa_container p {
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
}

.mesa_container img {
    width: 100px;
    height: 100px;
}

.mesa_container_botones {
    display: flex;
    flex-direction: row;
    margin: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.orden {
    background-color: #F59456;
    color: #000000;
    border: none;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
    width: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
}

.entrega {
    background-color: #D32F87;
    color: #000000;
    border: none;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 20px;
    width: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
}
