
.container-user{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
  }

  .container_imagen{
    height: 450px;
    width: 45%;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container_imagen img{
    width: 300px;
    height: 300px;
  }
  .container_formulario{
    height: 450px;
    width: 45%;
    margin-left: 20px;
    display: flex;
    padding-left: 40px;
  }
  #usuario-coc,#email-coc,#password-coc{
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    display: block;
    background-color: #FEA5D3;
    border-radius: 10px;
    border: none;
    padding: 10px;
    width: 300px;
  }
  label{
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    align-self: baseline;
    display: block;
    margin-bottom: 10px;
  }
  .boton-coc{
    text-align: center;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    position: absolute;
    margin: 10px;
    bottom: 15%;
    margin-top: 40px;
    background-color: #FEA5D3;
    border-radius: 10px;
    height: 50px;
    width: 200px;
}
