:root { 
    --background-color-modal: rgba(0, 0, 0, 0.5); 
}

body {
    font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

.Cardinicio {
    background: rgba(48, 48, 48, 0.8); 
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 50%;
    max-width: 400px;
    box-sizing: border-box; 
    margin: auto;
    position: relative;
    margin-top: 25%; 
    transform: translateY(-50%);

    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    
}

.logolog {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: auto; 
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    background-color: var(--background-color-modal);
    filter: blur(1px);
    z-index: -1;
}

.content {
    color: white;
}

.video-background {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.video-background .video {
    position: absolute;
    width: 100%;
    height: 100%; 
    object-fit: cover;
    top: 0;
    left: 0;
}

.bodylog {
    position: relative;
    z-index: 2;
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100vh; 
}

.btnlogin, .chi, input {
    font-family: 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', serif;
    color: rgb(255, 255, 255); 
}

.btnlogin {
    display: block; 
    margin: 20px auto 0; 
    background-color: #D9D6B8;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    border: none; 
    cursor: pointer;
}

.chi {
    margin-top: 20px;
    color: white; 
    display: block; 
}

input {
    display: block; 
    margin: 10px auto; 
    border-radius: 10px;
    border: 1px solid #ccc; 
    padding: 10px;
    width: calc(100% - 22px); 
}
